body{
  height: 200px;
  width: 210px;
  background-color: #cfcbcb;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

button {
  height: 30px;
  width: 60px;
  outline: none;
  margin: 5px;
  border: none;
  border-radius: 2px;
  background-color: rgb(175, 214, 175);  
  
}
button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
label{
  margin: 5px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

input{
  width: 190px;
  height: 23px;
  margin: 2px;
  border-radius: 0.2em;
}